/**
 * Stylesheet für die Login-Seite.
 * @author Roman Quiring
 */

#about {
	text-align: center;
	font-weight: normal;
	margin-bottom: 0.8em;
}

.ui-footer .ui-title {
	margin-bottom: 0;
}

input {
	background-color: #ffffff !important;
}