.nav-klips .ui-btn .ui-btn-inner { 
	padding-top: 30px !important; 
	}
.nav-klips .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: none !important; 
	border-radius: none !important; 
	}	
#akt .ui-icon { 
	background:  url(icons/aktuelles.png) 50% 50% no-repeat; 
	background-size: 20px 20px; 
	}
#kalndr .ui-icon { 
	background:  url(icons/kalender.png) 50% 50% no-repeat; 
	background-size: 20px 20px;  
	}
#mps .ui-icon { 
	background:  url(icons/maps.png) 50% 50% no-repeat;  
	background-size: 20px 20px; 
	}
		